<h2 class="users-header">Collaborators</h2>
<table mat-table [dataSource]="dataSource" class="custom-table">
  <ng-container matColumnDef="registrationNumber">
    <th mat-header-cell *matHeaderCellDef class="table-header">Registration Nº</th>
    <td mat-cell *matCellDef="let collaborator" class="table-cell">{{collaborator.registrationNumber}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="table-header">Name</th>
    <td mat-cell *matCellDef="let collaborator" class="table-cell">{{collaborator.person.name}}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef class="table-header">Type</th>
    <td mat-cell *matCellDef="let collaborator" class="table-cell">{{getCollaboratorType(collaborator.collaboratorType)}}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="table-header">Edit</th>
      <td mat-cell *matCellDef="let collaborator">
        <button mat-button class="edit-button" (click)="navigateTo('update-collaborator', collaborator.id)">
          Edit
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="table-header">Delete</th>
      <td mat-cell *matCellDef="let collaborator">
        <button mat-button class="delete-button">
          Delete
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="table-row"></tr>
</table>

<button mat-raised-button class="custom-button" (click)="navigateTo('create-collaborator')">New Collaborator</button>